

body {
	background: url("image/stripes.png");
	background-repeat: repeat-y;
	background-position: center center;
	background-attachment: scroll;
	background-size: 100% 100%;
}

.ui-page {
	background: transparent;
}

.ui-content {
	background: transparent;
}

label.error {
	display: block;
	margin: 10px 0;
	color: red;
}