/*
Title: CSS Style for form.html
by: Juan J Guzman
Project 1
02/08/2013
*/


*{	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1em;
}

body {
	margin: 20px, 20px;
	padding: 1px, 1px;
	border: 4px, #e90000;
	background: #a4a5bb;
	color: white;
	
}


h1 {
	margin: 2px, 2px;
	padding: 2px, 2px;
	background: #303c7f;
	font-size: 24px;
	text-align: center;
	color: white;

}

a {
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
	color: blue;
	font-weight: bold;
	background-color: #c2c6d2;
	display: block;
	
}
